# Problem Set 2

## Question 1
Consider the following Python module:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2
 
After importing the module into the interpreter, you execute:>>> b()  >>> b()  >>> b()  >>> a ?

What value is displayed when the last expression (a) is evaluated? Explain your
answer by indicating what happens in every executed statement.

In [4]:
a = 0 
def b():
  global a
  a = c(a)
    
def c(a):
 return a + 2

In [5]:
b()
b()
b()
a

6

1 b(): In this stage, the function c(a) is invoked, specifically c(0), with a value of 2.

2 b(): During this particular step, it is demonstrated that the function c(a), specifically c(2), is employed to modify the value of a. As a result, a becomes equal to c(2), which in turn evaluates to 2+2, resulting in a value of 4. Therefore, a is assigned the value of 4.

3 b(): In this step, the function c(a) is called, specifically c(4), leading to the modification of the value of a. Consequently, a is assigned the value of c(4), which can be simplified as 4+2, resulting in a value of 6. Thus, a becomes 6.

4 a : In this step, the value of a, which is determined to be 6, is displayed or outputted.

# Question 2
Function fileLength(), given to you, takes the name of a file as input and returns
the length of the file:>>> fileLength('midterm.py')
284  >>> fileLength('idterm.py')
Traceback (most recent call last):File "<pyshell#34>", line 1, in <module>
 fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength
 infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory:
'idterm.py'
As shown above, if the file cannot be found by the interpreter or if it cannot be read
as a text file, an exception will be raised. Modify function fileLength() so that a
friendly message is printed instead: >>> fileLength('midterm.py')
358 >>> fileLength('idterm.py')
File idterm.py not found.

In [24]:
def fileLength(filename):
    try:
        in_file = open(filename,'r')
        content = in_file.read()
        in_file.close()
        return len(content)
    except FileNotFoundError:
        print(f"File '{filename}' not found.")
result= fileLength('midterm.py')
print(result)

File 'midterm.py' not found.
None

# Question 3 Write a class named Marsupial that can be used as shown below:

In [34]:
class Marsupial:
    def __init__(self):
        self.pouch = []

    def put_in_pouch(self, item):
        self.pouch.append(item)

    def pouch_contents(self):
        return self.pouch
    
    

m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
print(m.pouch_contents()) 



class Kangaroo(Marsupial):
    def __init__(self, x, y):
        super().__init__()
        self.x = x
        self.y = y

    def jump(self, dx, dy):
        self.x += dx
        self.y += dy

    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"



k = Kangaroo(0, 0)
print(k)  # Output: I am a Kangaroo located at coordinates (0,0)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())  
k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)
print(k)  # Output: I am a Kangaroo located at coordinates (3,0)

['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

# Question 4
Write function collatz() that takes a positive integer x as input and prints the
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying
this rule to the previous number x in the sequence:

In [6]:
def collatz(x):
    print(x)
    if x == 1:
        return
    elif x % 2 == 0:
        collatz(x // 2)
    else:
        collatz(3 * x + 1)



collatz(1)  # Output: 1
collatz(10)

1
10
5
16
8
4
2
1

# Question 5
Write a recursive method binary() that takes a non-negative
integer n and prints the binary representation of integer n.

In [7]:
def binary(n):
    if n > 1:
        binary(n // 2)
    print(n % 2, end='')


binary(0)  # Output will be: 0
binary(1)  # Output will be: 1
binary(3)  # Output will be: 11
binary(9)  # Output will be: 1001

01111001

# Question 6
Implement a class named HeadingParser that can be used to parse an HTML
document, and retrieve and print all the headings in the document. You should
implement your class as a subclass of HTMLParser, defined in Standard Library
module html.parser. When fed a string containing HTML code, your class should
print the headings, one per line and in the order in which they appear in the
document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your
implementation using w3c.html.

In [8]:
from html.parser import HTMLParser


class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.headings = []
        self.current_heading = ''

    def handle_starttag(self, tag, attrs):
        if tag.startswith('h') and len(tag) == 2 and tag[1].isdigit():
            self.current_heading = int(tag[1]) - 1

    def handle_endtag(self, tag):
        if tag.startswith('h') and len(tag) == 2 and tag[1].isdigit():
            self.current_heading = ''

    def handle_data(self, data):
        if self.current_heading != '':
            indentation = '  ' * self.current_heading
            heading_text = data.strip()
            self.headings.append(f'{indentation}{heading_text}')

    def print_headings(self):
        for heading in self.headings:
            print(heading)



with open('w3c.html') as in_file:
    content = in_file.read()

hp = HeadingParser()
hp.feed(content)
hp.print_headings()

W3C Mission
  Principles

# Question 7
Implement recursive function webdir() that takes as input: a URL (as a string) and
non-negative integers depth and indent. Your function should visit every web
page reachable from the starting URL web page in depth clicks or less, and print
each web page's URL. As shown below, indentation, specified by indent, should
be used to indicate the depth of a URL.

In [13]:
from urllib.request import urlopen
from urllib.parse import urljoin
from html.parser import HTMLParser

class LinkParser(HTMLParser):
    def _init_(self):
        super()._init_()
        self.links = []

    def handle_starttag(self, tag, attrs):
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    self.links.append(attr[1])

def webdir(url, depth, indent):
    if depth < 0:
        return

    print(' ' * indent + url)

    try:
        response = urlopen(url)
    except:
        return

    parser = LinkParser()
    parser.feed(response.read().decode())

    for link in parser.links:
        absolute_url = urljoin(url, link)
        webdir(absolute_url, depth - 1, indent + 1)
        
        
        
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html

# Question 8
Write SQL queries on the below database table that return:

a) All the temperature data.

b) All the cities, but without repetition.

c) All the records for India.

d) All the Fall records.

e) The city, country, and season for which the average rainfall is between 200
and 400 millimeters.

f) The city and country for which the average Fall temperature is above 20

degrees, in increasing temperature order.

g) The total annual rainfall for Cairo.

h) The total rainfall for each season.

In [35]:
import sqlite3

# Connect to or create a new SQLite database file
conn = sqlite3.connect('my_database.db')

# Create a cursor object to execute SQL queries
cur = conn.cursor()


cur.execute("INSERT INTO Climate_data (City,Country,Season,Temperature,Rainfall) VALUES (?, ?,? ,?,?)", ('Mumbai','India','Winter',24.8,5.9))
cur.execute("INSERT INTO Climate_data (City,Country,Season,Temperature,Rainfall) VALUES (?, ?,? ,?,?)", ('Mumbai','India','Spring',28.4,16.2))
cur.execute("INSERT INTO Climate_data (City,Country,Season,Temperature,Rainfall) VALUES (?, ?,? ,?,?)", ('Mumbai','India','Summer',27.9,1549.4))
cur.execute("INSERT INTO Climate_data (City,Country,Season,Temperature,Rainfall) VALUES (?, ?,? ,?,?)", ('Mumbai','India','Fall',27.6,346.0))
cur.execute("INSERT INTO Climate_data (City,Country,Season,Temperature,Rainfall) VALUES (?, ?,? ,?,?)", ('London','United Kingdom','Winter',4.2,207.7))
cur.execute("INSERT INTO Climate_data (City,Country,Season,Temperature,Rainfall) VALUES (?, ?,? ,?,?)", ('London','United Kingdom','Spring',8.3,169.6))
cur.execute("INSERT INTO Climate_data (City,Country,Season,Temperature,Rainfall) VALUES (?, ?,? ,?,?)", ('London','United Kingdom','Summer',15.7,157.0))
cur.execute("INSERT INTO Climate_data (City,Country,Season,Temperature,Rainfall) VALUES (?, ?,? ,?,?)", ('London','United Kingdom','Fall',10.4,218.5))
cur.execute("INSERT INTO Climate_data (City,Country,Season,Temperature,Rainfall) VALUES (?, ?,? ,?,?)", ('Cairo','Egypt','Winter',13.6,16.5))
cur.execute("INSERT INTO Climate_data (City,Country,Season,Temperature,Rainfall) VALUES (?, ?,? ,?,?)", ('Cairo','Egypt','Spring',20.7,6.5))
cur.execute("INSERT INTO Climate_data (City,Country,Season,Temperature,Rainfall) VALUES (?, ?,? ,?,?)", ('Cairo','Egypt','Summer',27.7,0.1))
cur.execute("INSERT INTO Climate_data (City,Country,Season,Temperature,Rainfall) VALUES (?, ?,? ,?,?)", ('Cairo','Egypt','Fall',22.2,4.5))

# Commit the changes and close the connection
conn.commit()
conn.close()

In [30]:
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('my_database.db')

# Create a cursor object to execute SQL queries
cursor = conn.cursor()

# a) All the temperature data.

cursor.execute("SELECT Temperature FROM climate_data")
temperature_data = cursor.fetchall()
print("(a).Temperature Data:")
for temperature in temperature_data:
    print(temperature[0])

# b) All the cities, but without repetition.

cursor.execute("SELECT DISTINCT City FROM climate_data ")
cities = cursor.fetchall()
print("(b).Cities:")
for city in cities:
    print(city[0])

# c) All the records for India.

cursor.execute("SELECT * FROM climate_data WHERE Country = 'India'")
india_records = cursor.fetchall()
print("(c).Records for India:")
for record in india_records:
    print(record)

# d) All the Fall records.

cursor.execute("SELECT * FROM climate_data WHERE Season = 'Fall'")
fall_records = cursor.fetchall()
print("(d).Fall Records:")
for record in fall_records:
    print(record)

# e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.

cursor.execute("SELECT City, Country, Season FROM climate_data GROUP BY City, Country, Season HAVING AVG(Rainfall) BETWEEN 200 AND 400")
average_rainfall_records = cursor.fetchall()
print("(e).Records with average rainfall between 200 and 400 mm:")
for record in average_rainfall_records:
    print(record)

# f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

cursor.execute("SELECT City, Country FROM climate_data WHERE Season = 'Fall' GROUP BY City, Country HAVING AVG(Temperature) > 20 ORDER BY AVG(Temperature) ASC")
average_fall_temp_records = cursor.fetchall()
print("(f).Records with average Fall temperature above 20 degrees:")
for record in average_fall_temp_records:
    print(record)

# g) The total annual rainfall for Cairo.

cursor.execute("SELECT SUM(Rainfall) AS Total_Rainfall FROM climate_data WHERE City = 'Cairo'")
total_rainfall_cairo = cursor.fetchone()
print("(g).Total annual rainfall for Cairo:", total_rainfall_cairo[0])

# h) The total rainfall for each season.

cursor.execute("SELECT Season, SUM(Rainfall) AS Total_Rainfall FROM climate_data GROUP BY Season")
total_rainfall_seasons = cursor.fetchall()
print("(h).Total rainfall for each season:")
for season in total_rainfall_seasons:
    print(season[0], season[1])

# Close the cursor and the connection

cursor.close()
conn.close()

(a).Temperature Data:
24.8
28.4
27.9
27.6
4.2
8.3
15.7
10.4
13.6
20.7
27.7
22.2
(b).Cities:
Mumbai
London
Cairo
(c).Records for India:
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
(d).Fall Records:
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
(e).Records with average rainfall between 200 and 400 mm:
('London', 'United Kingdom', 'Fall')
('London', 'United Kingdom', 'Winter')
('Mumbai', 'India', 'Fall')
(f).Records with average Fall temperature above 20 degrees:
('Cairo', 'Egypt')
('Mumbai', 'India')
(g).Total annual rainfall for Cairo: 27.6
(h).Total rainfall for each season:
Fall 569.0
Spring 192.29999999999998
Summer 1706.5
Winter 230.1

# Question 9
. Suppose list words is defined as follows: >>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following
lists:
a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE',
'LAZY', 'DOG']
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog']
c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list
words).
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN',
'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy',
4], ['DOG', 'dog', 3]] (the list containing a list for every word of list
words, where each list contains the word in uppercase and lowercase and the
length of the word.)
e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog'] (the list of words in list words containing 4 or more
characters.)

In [20]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [ ]:
# a

In [21]:
upper_words = [word.upper() for word in words]
print(upper_words)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [ ]:
# b

In [17]:
lower_words = [word.lower() for word in words]
print(lower_words)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [ ]:
# c

In [6]:
word_lengths = [len(word) for word in words]
print(word_lengths)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [ ]:
# d

In [9]:
new_words = [[word.upper(), word.lower(), len(word)] for word in words]
print(new_words)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

In [ ]:
# e

In [18]:
list_words = [word for word in words if len(word) >= 4]
print(list_words)

['quick', 'brown', 'jumps', 'over', 'lazy']